.search {
    text-align: center;
}
.search_input {
    width: 500px;
    height: 30px;
    border: 1px solid black;
}

.results {
    position: relative;
    left: 200px;
}

#profile_picture {
    border-radius: 50%;
}

.thumbnail {
    position: relative;
    float: left;
    padding: 0 20px 0 0;
}

.video-metadata {
    left: 70px;
}
