audio {
    display: none;
}
.channelInfo {
    width: 1240px;
}
.description {
    white-space: pre-wrap;
    text-align: justify;
}
.channelName {
    position: relative;
}
hr {
    width: 1240px;
    margin-left: 0;
}

