<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if title != "" %} 
                {{ title }} - UnBloated YouTube
            {% else %}
                UnBloated YouTube
            {% endif %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
        <style>
            body {
                background-color: {{ '#000000' if dark_mode else '#f0f0f0' }};
            }
            p, h1, h2, h3, h4, h5, label {
                color: {{ '#ffffff' if dark_mode else '#000000' }}; 
            }
        </style>

        {% block head %}
        {% endblock head %}
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Search bar -->
        <div class="search">
            <form action="/results", method="post"> 
                <p><input type="text" name="query" placeholder="Search" class="search_input" 
                {% block if_search %}
                {% endblock if_search %}></p>
            </form>
        </div>

        <div class="settings">
            <form action="/settings", method="get">
                <button>⚙️</button>
            </form>
        </div>
        {% block body %}
        {% endblock body %}
    </body>
</html>

